/* ====== GOOGLE FONT SET UP */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ==== BASE STYLE ==== */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* ====== VERIABLE THAT ARE GOING TO BE RE-USED ===== */
:root{
  --site-background-color:#fff;
  --site-button-color:#a77c53;
  --site-border-color:#eeeeee;
  --site-accent-color:#FFF4EC;
  --site-button-hover:#F2AC22;
  --title-color:#000;
  --body-font-color:#656565;
  --section-color:#FFF4EC;
  --button-text-color:#fff;
  --section-alt-color:#e0e0e0;
  --header-height: 3.5rem; 

  /* ==== FONT AND TYPOGRAPHY ==== */
  --heading-font:"Literata", Sans-serif;
  --body-font:"Roboto", sans-serif;
  --heading-1-size:36px;
  --heading-1-lineheight:1.2em;
  --heading-2-lineheight:1.3em;
  --heading-3-lineheight:1.3em;
  --heading-4-lineheight:1.4em;
  --heading-5-lineheight:1.4em;
  --heading-6-lineheight:1.4em;
  --heading-2-size:28px;
  --heading-3-size:24px;
  --heading-4-size:20px;
  --heading-5-size:18px;
  --heading-6-size:16px;
  --body-font-size:16px;
  --body-line-height:1.6em;
  --heading-font-weight:600;

   /* ==== FONT WEIGHT ==== */
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;
   --font-black: 800;

   /* ==== Z INDEX ==== */
  --z-tooltip:10;
  --z-fixed: 100;




}
body {
  background-color: var(--site-background-color);
  color: var(--body-font-color);
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  transition: background-color 0.4s;
}
button a {
  font-family: var(--heading-font);
  font-size: var(--heading-4-size);
  padding: 17px 42px 17px 42px;
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
}
input,
button {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height:100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1320px;
  margin-inline: 1.5rem;
}
.section-primary {
  padding-block: 5rem 1rem;
  background-color: var(--section-color);
}
.section-alt {
  padding-block: 5rem 1rem;
  background-color: var(--section-alt-color);
}
.main {
  overflow: hidden;
}